<div class="fixed-top mb-5">
  <div class=" bg_above_bar text-white py-1 px-5 d-flex justify-content-between align-items-center">
    <div>Call us: +123 579 4568</div>
    <div>Email: toystore.com</div>
  </div>
  <header class="bg-white shadow-sm">
    <div class="px-5">
      <nav class="navbar navbar-expand-lg navbar-light py-2">
        <a class="navbar-brand fw-bold" href="#">
          <span class="text-dark">Toy</span><span style="color: #9ebc1f">Store</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Catalog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Delivery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contacts</a>
            </li>
          </ul>

          <div class="d-flex align-items-center">
            <a href="#" class="text-dark me-3">
              <i class="bi bi-search"></i>
            </a>
            <a href="#" class="text-dark position-relative">
              <i class="bi bi-cart3"></i>
              <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-success">
                0
              </span>
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
</div>