<app-header></app-header>
<section class="text-center bg-light position-relative">
  <img
    src="https://img.freepik.com/premium-photo/bear-colorful-toys-wooden-desk-abstract-light-background_488220-457.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
    class="img-fluid w-100" alt="hero" style="object-fit: cover; height: 570px;">
  <div
    class="position-absolute top-50 start-50 translate-middle bg-white p-4 rounded shadow d-flex flex-column justify-content-center align-items-center"
    style="width: 500px;height:250px;">
    <h2 class="fw-bold">Say Hello to ToyStore!</h2>
    <a class="btn mt-5 bg_above_bar text-white px-5 py-2" href="#">Open Catalog</a>
  </div>
</section>
<section class="container text-center pt-5 my-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="bg-warning p-4 rounded">
        <img
          src="https://img.freepik.com/premium-photo/plush-giraffe-toy-isolated-white-background-covers-eyes-nose-ears-colored-soft-brown-toy_287167-208.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
          class="img-fluid rounded" style="height: 100px; " />
        <h4 class="mt-3">Stuffed Animals</h4>
        <a href="#" class="btn btn-dark mt-2">Shop Now</a>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="bg-danger text-white p-4 rounded">
        <img
          src="https://img.freepik.com/free-photo/high-angle-kid-playing-with-wooden-toy_23-2149357233.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
          class="img-fluid rounded" style="height: 100px;" />
        <h4 class="mt-3">Wooden Toys</h4>
        <a href="#" class="btn btn-light mt-2">Shop Now</a>
      </div>
    </div>
  </div>
</section>
<section class="container product-section py-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="section-title">Stuffed Animals</h2>
    <a href="#" class="see-all-link d-flex align-items-center product-price">
      See All Toys <i class="bi bi-arrow-right ms-1"></i>
    </a>
  </div>
  <div class="row">
    <div class="col-6 col-md-3 mb-4">
      <div class="card h-100">
        <div class="product-image-container">
          <img
            src="https://img.freepik.com/free-psd/view-children-s-stuffed-animal_23-2151517607.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="product.name" class="card-img-top product-image">
        </div>
        <div class="card-body p-3">
          <h5 class="card-title product-name">giraffe</h5>
          <p class="product-price mb-0">10$</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="card h-100">
        <div class="product-image-container">
          <img
            src="https://img.freepik.com/free-psd/view-children-s-stuffed-animal_23-2151517679.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="product.name" class="card-img-top product-image">
        </div>
        <div class="card-body p-3">
          <h5 class="card-title product-name">animal</h5>
          <p class="product-price mb-0">15$</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="card h-100">
        <div class="product-image-container">
          <img
            src="https://img.freepik.com/premium-photo/soft-toy-monkey-isolate_288990-177.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="product.name" class="card-img-top product-image">
        </div>
        <div class="card-body p-3">
          <h5 class="card-title product-name">monkey</h5>
          <p class="product-price mb-0">11$</p>
        </div>
      </div>
    </div>
    <div class="col-6 col-md-3 mb-4">
      <div class="card h-100">
        <div class="product-image-container">
          <img
            src="https://img.freepik.com/premium-photo/funny-toy-cute-hippo-blue-shirt-isolated-white-surface_131240-1904.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="product.name" class="card-img-top product-image">
        </div>
        <div class="card-body p-3">
          <h5 class="card-title product-name">hippo</h5>
          <p class="product-price mb-0">9$</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="instagram-section py-5">
  <div class="container text-center">
    <h5 class="instagram-title mb-4">
      <i class="bi bi-instagram me-2"></i>
      We're on Instagram!
    </h5>

    <div class="row">
      <div class="col-6 col-md-3 mb-4">
        <div class="instagram-item">
          <img
            src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="'Instagram post ' + image.id" class="img-fluid rounded">
          <div class="instagram-overlay">
            <i class="bi bi-heart-fill"></i>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">

        <div class="instagram-item">
          <img
            src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="'Instagram post ' + image.id" class="img-fluid rounded">
          <div class="instagram-overlay">
            <i class="bi bi-heart-fill"></i>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">

        <div class="instagram-item">
          <img
            src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="'Instagram post ' + image.id" class="img-fluid rounded">
          <div class="instagram-overlay">
            <i class="bi bi-heart-fill"></i>
          </div>
        </div>
      </div>
      <div class="col-6 col-md-3 mb-4">

        <div class="instagram-item">
          <img
            src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
            alt="'Instagram post ' + image.id" class="img-fluid rounded">
          <div class="instagram-overlay">
            <i class="bi bi-heart-fill"></i>
          </div>
        </div>
      </div>
      <!-- <div class="col-6 col-md-3 mb-4">
      
              <div class="instagram-item">
                <img
                  src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
                  alt="'Instagram post ' + image.id" class="img-fluid rounded">
                <div class="instagram-overlay">
                  <i class="bi bi-heart-fill"></i>
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3 mb-4">
      
              <div class="instagram-item">
                <img
                  src="https://img.freepik.com/premium-photo/childs-toy-box-filled-with-various-toys_561855-87078.jpg?uid=R180960294&ga=GA1.1.767114532.1738104245&semt=ais_hybrid&w=740"
                  alt="'Instagram post ' + image.id" class="img-fluid rounded">
                <div class="instagram-overlay">
                  <i class="bi bi-heart-fill"></i>
                </div>
              </div>
            </div> -->

    </div>

    <button class="btn btn-outline-secondary mt-3">
      See More Photos
    </button>
  </div>
</section>
<app-footer></app-footer>